{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %} Senate Elections {% endblock %}
{% block extra_head %}
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/usaLow.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/data/countries2.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div>
    Year: <select id="filter"></select>
    <script>
        for(var i = 1980; i <= 2018; i+= 2){
            $("#filter").append("<option>" + i + "</option>");
        }
    </script>
    </div>
    <div id="chartdiv"></div>
    <script src="{% static 'money_vis/js/charts.js' %}"></script>
</div>
{% endblock %}
