{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Projects{% endblock %}

{% block content %}
<div class="container">
    <div class="heading">
        <h2>Page Heading</h2>
        <span>Secondary Text</span>
    </div>
    <div class="content">
        <div class="row box-item">
            <div class="col-md-6">
                <img src="{% static 'images/1.jpg' %}" alt="">
            </div>
            <div class="col-md-6">
                <h3>Text Heading</h3>
                <span>Subheading</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                <a href="#" class="btn btn-primary">View Project</a>
            </div>
        </div>
        <hr>
        <div class="row box-item">
            <div class="col-md-6">
                <img src="{% static 'images/1.jpg' %}" alt="">
            </div>
            <div class="col-md-6">
                <h3>Text Heading</h3>
                <span>Subheading</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                <a href="#" class="btn btn-primary">View Project</a>
            </div>
        </div>
        <hr>
        <div class="row box-item">
            <div class="col-md-6">
                <img src="{% static 'images/1.jpg' %}" alt="">
            </div>
            <div class="col-md-6">
                <h3>Text Heading</h3>
                <span>Subheading</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                <a href="#" class="btn btn-primary">View Project</a>
            </div>
        </div>
        <div class="pagination">
            <ul>
                <li><a href="#"> << </a></li>
                <li class="active"><a href="#"> 1 </a></li>
                <li><a href="#"> 2 </a></li>
                <li><a href="#"> 3 </a></li>
                <li><a href="#"> 4 </a></li>
                <li><a href="#"> 5 </a></li>
                <li><a href="#"> >> </a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
